@using BrzaPosta.Controllers
@using BrzaPosta.ViewModels
@{
    ViewData["Title"] = "Prikazi";
    int brojac = 1;
    string porukaSuccess = TempData["poruka-success"] as string;
}
@model DrzavaPrikaziVM

<br />
<div class="sadrzajDiv">

    @if (porukaSuccess != null)
    {
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>@porukaSuccess</strong>
        </div>
    }
    <a id="myBtn" modal-poziv='da' modalUrl="/Drzava/UrediForm" class="btn btn-outline-primary btn-lg" style="float:right; margin-bottom:5px;"><i class="fas fa-plus"></i> Dodaj</a>
    <form>
        <table class="table table-bordered table-light" style="margin:5px 0;">
            <tbody>
                <tr>
                    <td><label for="RegionIdZaSelect">Odaberite regiju:</label></td>
                    <td><select name="RegionIdZaSelect" asp-for="RegionIdZaSelect" asp-items="Model.RegioniZaSelectTag" class="form-control mr-sm-2"></select></td>
                    <td><button type="submit" class="btn btn-outline-primary"><i class="fas fa-binoculars"></i> Prikazi</button></td>
                </tr>
            </tbody>
        </table>

    </form>

    <table class="table table-bordered table-hover" style="margin:5px 0;">
        <tbody class="table-light table-hover">

            @foreach (DrzavaPrikaziVM.DrzavaVM x in Model.podaciZaHtml)
            {
                <tr>
                    <td>@(brojac++)</td>
                    <td>@x.Naziv</td>
                    <td>@x.Region_Naziv</td>
                    <td>
                        @*<form asp-controller="Drzava" asp-action="UrediForm" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#content">
                                @Html.Hidden("Id", x.DrzavaId)
                                <button type="submit" class="btn btn-warning">Uredi</button>
                            </form>*@
                        <a href="/Drzava/Detalji?Id=@x.DrzavaId" class="btn btn-outline-info"><i class="fas fa-info-circle"></i></a>
                        <a id="myBtn" modal-poziv='da' modalUrl="/Drzava/UrediForm?Id=@x.DrzavaId" class="btn btn-outline-secondary"><i class="far fa-edit"></i></a>
                        <a href="/Drzava/Obrisi?Id=@x.DrzavaId" class="btn btn-outline-warning"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <br />
    <a class="btn btn-outline-info" asp-action="Index" asp-controller="Home" asp-route-DostavaID=""><i class="fas fa-backward"></i> Nazad</a>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <h3 style="padding:5px;">Uredi državu</h3>
                <span class="close">&times;</span>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <div class="logo" style="padding:0 10px">
                    <img src="~/images/fast_delivery.png" style="width:45px; height:40px; padding:5px;" />
                    <span style="font-size:1.3em;">BrzaPošta</span>
                </div>
            </div>
        </div>

    </div>

</div>
   
<script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        //var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        $("a[modal-poziv='da']").click(function () {
            modal.style.display = "block";

            var btn = $(this);
            var url = btn.attr("modalUrl");

            $.get({
                url: url,
                success: function (rez) {
                    $(".modal-body").html(rez);
                }
            });
        });


        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
</script>